h1{
    text-align: center;
    
}

.ContenedorColores{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.Boton{
    width: 200px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
}


.Rojo{
    background-color: red;
}
.Verde{
    background-color: green;
}

.Azul{
    background-color: blue;
}

.Amarillo{
    background-color: yellow;
}

.Botones{
    display: flex;
    justify-content: center;
}