body{
    background-color: black;
}

h1{
    text-align: center;
    font-size: 60px;
    color: white;
}

.ContenedorColores{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
}

.Boton{
    width: 200px;
    height: 200px;
    margin: 15px;
    cursor: pointer;
}

.Rojo{
    background-color: rgb(216, 1, 1);
    border-top-left-radius: 100%;
}
.Rojo:hover{
    background-color: rgb(255, 0, 0);
}
.Verde{
    background-color: green;
    border-bottom-left-radius: 100%;
}

.Verde:hover{
    background-color: rgb(43, 255, 0);
}

.Azul{
    background-color: rgb(0, 0, 209);
    border-bottom-right-radius: 100%;
}

.Azul:hover{
    background-color: rgb(0, 0, 255);
}

.Amarillo{
    background-color: rgb(224, 224, 20);
    border-top-right-radius: 100%;
}

.Amarillo:hover{
    background-color: yellow;
}

.Botones{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#Comenzar{
    font-size: 30px;
    margin: 10px;
}

#Reset{
    font-size: 30px;
    margin: 10px;
}